<!-- movie post -->
<!-- Form section -->
<%= form_for item, url: items_path do |f| %>
<!-- Error messages -->
<div class="form" >
  <div class="mt-3" >

  <div class="form-group">
   <%= f.text_field :url, class: "form-control", placeholder: "YouTubeのURLを入力　Ex:https://www.youtube.com/watch?v=○○○ " %>
  </div>

  <div class="form-group">
   <%= f.text_field :title, class: "form-control", placeholder: "タイトルを設定" %>
  </div>

  <div class="form-group">
   <%= f.text_area :caption, class: "form-control", placeholder: "紹介文を追加" %>
  </div>

  <div class="form-group">
   <%= f.hidden_field :category, value: 2 %>
  </div>

 </div>
 <div class="row form-action offset-4 my-5 col-md-4">
  <%= f.submit "投稿する", class: "btn btn-lg btn-warning btn-block" %>
 </div>
</div>
<% end %>