<%= stylesheet_link_tag 'items' %>
<div class="container mt-5">
 <div class="row mt-5">
  <!-- 画像 -->
  <div class="image-box col-md-6">
  	<!-- 画像 -->
  	<%= attachment_image_tag @item, :item_image, width: 450, fallback: 'wallpaper/thom-holmes-556804-unsplash.jpg',  class: "room-image" %>

  	<!-- リンク画像 -->

  	<!-- 動画 -->
  </div>

  <!-- タイトル・説明文 -->
  <div class="col-md-6 mt-4">
   <table class="table table-borderless ">
    <tbody>
      <tr>
        <th>タイトル</th>
        <td><strong><%= @item.title %></strong></td>
      </tr>
      <tr>
        <th>説明文</th>
        <td><%= @item.caption %></td>
      </tr>
      <tr>
        <th>URL</th>
        <td><%= @item.url %></td>
      </tr>
    </tbody>
  </table>
  <div class="row">
   <%= link_to "削除", item_path(@item.id), method: :delete, class: "btn btn-danger" %><br>
  </div>
  </div>
 </div>
</div>